$primary-color: rgb(231, 231, 231);

.book-modify-page-container {
    margin-top: 35px;

    .book-modify-page-title {
      text-align: center;
      font-size: 32px;
      color: black;
    }

    .book-modify-page-subtitle {
      margin-top: 12px;
      text-align: center;
      font-size: 16px;
      color: rgb(82, 82, 82);
    }

    .book-modify-page-card {
        margin: 25px auto;
        display: flex;
        justify-content: center; 

        .book-modify-page-input-field-row{
            display: flex; 
            gap: 20px;
            justify-content: space-between;
        }
      
        .book-modify-page-input-field {
          position: relative;
          margin-top: 18px;
      
          .book-modify-input-field-title {
            font-size: 12px;
          }
        }
      }
      
  }
