.cart-book-quantity-container {
  text-align: center;

  .cart-book-quantity {
    display: flex;
    align-items: center;
    font-size: 16px;
    border: 1px solid black;

    p {
      width: 35px;
      margin: 2px 0px 0px 0px;
    }
  }
}
